
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.nav-link{
    color: rgb(54, 126, 209);
   font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;

}
/* Phones */
@media (max-width: 767px) {
    .container {
        padding: 10px;
    }

    h1 {
        font-size: 20px;
    }
}
